
div.campus-block {
	float: left;
	margin-right: 25px;	
	margin-bottom: 25px;
}

div.esopen{
	cursor: pointer;
}

div.campus-grid {
	padding-left: 50px;
	padding-top: 25px;
	padding-right: 25px;;
	width: 875px;
	background-color: #4393d0;
	overflow: hidden;
}

div.campus-ysu{
	background-repeat:no-repeat;
	height: 110px; 
	width: 950px;
}

body.campus{
	background-color: #1783d6;
}

div.campus-container{
	width: 100%;	
	overflow: hidden;
}

div.campus-header{
	width: 100%;	
	font-family: "covered_by_your_graceregular";
	overflow: hidden;
	font-family: 'Coda', cursive;
	font-size: 72px; 
	color: #FFFFE0;
}

div.campus-devider{
	height: 25px;
	width: 100%;
	background-color: #D9D9D9;	
}

footer.campus{
	color: #FFFFE0;
}
