
/*-------------- GRID Layout------------------- */
@media screen and (min-width: 1201px) { 
div.mainlcss {width: 1200px; margin-top: 2%;);} 
} 

@media screen and (max-width: 1200px) { 
div.mainlcss {width: 80%; margin-top: 2%;} 
} 


/*-------------- SEARCH Layout------------------- */
@media screen and (min-width: 671px) { 
div.searchcss {min-width: 540px; } 
} 

@media screen and (max-width: 670px) { 
div.searchcss {min-width: 100%; } 
} 

div.navigation-header{
	width: 100%;	
	font-family: "covered_by_your_graceregular";
	overflow: hidden;
	font-family: 'Coda', cursive;
	font-size: 36px; 
	color: #13709E;
}

footer{
	color: #13709E;
}
