/*---------------------------------
	IMPORTS KICKSTART
-----------------------------------*/
@import url(kickstart/kickstart.css);

/*--------------HOME Layout-------------------*/
div#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;  
}



/*--------------HOME Menu Layout-------------------*/
div#left_menu{	
	float: left;
	width: 170px;
}


/*--------------HOME Container Layout-------------------*/
div#container{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: inherit;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
}

/*--------------HOME FRAME VIEWR Layout-------------------*/
iframe#viewer{
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

/*--------------HOME LEANMODAL Layout-------------------*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

