/*---------------------------------
	IMPORTS KICKSTART
-----------------------------------*/
@import url(kickstart/kickstart.css);

/*--------------HOME Layout-------------------*/
div#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;  
}


/*--------------导航METRO Layout-------------------*/
span.dhicon{
	width: 100px;
	height: 100px;
}
span.dhicon.c1{ background-color: #4D99E0;}
span.dhicon.c2{ background-color: #75CC00;}
span.dhicon.c3{ background-color: #E49800;}
img.dhicon.c4{ background-color: #E4247E;}
img.dhicon.c5{ background-color: #00C6E4;}
img.dhicon.c6{ background-color: #C50000;}
img.dhicon.c7{ background-color: #E4DB0F;}
img.dhicon.c8{ background-color: #7400E4;}



/*--------------HOME Menu Layout-------------------*/
div#left_menu{	
	float: left;
	width: 170px;
}


/*--------------HOME Container Layout-------------------*/
div#container{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: inherit;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
}

/*--------------HOME FRAME VIEWR Layout-------------------*/
iframe#viewer{
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

/*--------------HOME LEANMODAL Layout-------------------*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

